* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    /* overflow-x: hidden; */
    /* height: 3000px; */
}

:root {
    --black-background: rgb(24, 26, 28);
    --yellow-background: rgb(254, 206, 26);
}

h1,
h2,
h3 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

*:focus {
    outline: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(24, 26, 28);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(254, 206, 26);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global */

/* start header */
.header {
    background-color: rgb(24, 26, 28);
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 77px;
}

.header ul li a {
    padding: 10px 16px;
    border: 1px solid transparent;
    transition: border-color 0.8s;
}

.header ul li:first-of-type a {
    border-color: rgb(254, 206, 26);
}

.header ul li a:hover {
    border-color: rgb(254, 206, 26);

}

.header i {
    color: black;
    background-color: rgb(254, 206, 26);
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}


@media (min-width:992px) {
    .header i {
        display: none;
    }

}

@media (max-width:991px) {
    .header ul {
        display: none;
    }

    .header i:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: rgb(24, 26, 28);
        left: 0;
        top: 100%;
        z-index: 22;
    }

    .header ul li {
        width: 100%;
        padding: 5px 15px;
    }

    .header ul li a {
        display: block;
        border-radius: 4px;

    }
}

/* end header */

/* start home */
.home {
    margin-top: 77px;
    height: 500px;
    background-color: var(--yellow-background);
    background-image: url(../images/square.jpg);
    background-size: cover;
}

/* .home .container{
    height: 100%;
} */

.home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(254 206 26 / 75%);
}

.home i {
    font-size: 60px;
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    cursor: pointer;
}

.home .left-arrow {
    left: 0;
}

.home .right-arrow {
    right: 0;
}

.home .card {
    padding-left: 100px;
    padding-right: 100px;
    transform: translateY(50%);
}

.home .card .text {
    width: 540px;
}

.home .card .text h1 {
    text-transform: uppercase;
    font-size: 34px;
}

.home .card .text p:first-of-type {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 300;
    padding-top: 8px;
}

.home .card .text p:last-of-type {
    padding-top: 16px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.home .card .text a {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 20px;
    transition: 0.3s;
}

.home .card .text a:hover {
    color: white;
    background-color: var(--black-background);
}

@media (max-width:991px) {
    .home .card {
        padding-left: 0;
        padding-right: 0;
    }

    .home .card .text {
        width: fit-content;
    }

    .home .card .text h1 {
        text-transform: uppercase;
        font-size: 24px;
    }

    .home .card .text p:first-of-type {
        font-size: 20px;
    }

    .home .card .text p:last-of-type {
        display: none;
    }
}

@media (max-width:767px) {
    .home .card {
        flex-direction: column;
        transform: translateY(30%);
        gap: 40px;
    }

    .home .card .text a {
        display: none;
    }

    .home .card .image img {
        width: 280px;
    }
}

.home .all {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 475px;
    display: flex;
}

.home .all span {
    width: 52px;
    height: 3px;
    background-color: white;
    margin-right: 5px;
}

.home .all span:first-child {
    background-color: var(--black-background);
}

@media (max-width:991px) {
    .home i {
        display: none;
    }

    .home .all {
        display: none;
    }

}

/* end home */

/* start service */
.service {
    background-color: var(--black-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.service .container .heading-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
}

.service .container .heading-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}

.service .container .heading-text h1+p {
    color: var(--yellow-background);
    font-size: 22px;
    font-weight: 300;
}

@media (max-width:767px) {
    .service .container .heading-text h1 {
        font-size: 36px;
        margin-bottom: 18px;
    }

    .service .container .heading-text h1+p {
        font-size: 18px;
    }
}

.service .container .card .box h3 {
    color: var(--yellow-background);
}

.service .container .card .box p {
    margin: 0 auto;
    width: 255px;
    font-size: 18px;
    font-weight: 300;
}

@media (max-width:767px) {
    .service .container .card {
        padding-top: 60px;
        gap: 50px;
    }

    .service .container .card .box p {
        width: 100%;
    }
}

.service .container .card .box img {
    transition: transform .4s;
}


.service .container .card .box img:hover {
    transform: scale(1.1);
}

/* end service */

/* start portfolio */
.portfolio {
    background-color: var(--yellow-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.portfolio .container .heading-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--black-background);
    left: 0;
    bottom: 0;
}

.portfolio .container .heading-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}

.portfolio .container .heading-text h1+p {
    font-size: 22px;
    font-weight: 300;
}

@media (max-width:767px) {
    .portfolio .container .heading-text h1 {
        font-size: 36px;
        margin-bottom: 18px;
    }

    .portfolio .container .heading-text h1+p {
        font-size: 18px;
    }
}

.portfolio .container ul {
    gap: 10px;
}

.portfolio .container ul li {
    padding: 10px;
    border: 1px solid black;
    flex: 1;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.portfolio .container ul li:first-child {
    background-color: var(--black-background);
    color: white;
}

.portfolio .container ul li:hover {
    background-color: var(--black-background);
    color: white;
}

.portfolio .container .card .box img {
    max-width: 100%;
}

.portfolio .container .card .portf {
    overflow: hidden;
}

.portfolio .container .card .portf::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(24 26 28/ 85%);
    left: 0;
    bottom: -100%;
    transition: bottom .4s;
}

.portfolio .container .card .box:hover::before {
    bottom: 0;
}

.portfolio .container .card .portf::after {
    font-family: "Font Awesome 6 Free";
    content: '\2b';
    position: absolute;
    font-weight: 900;
    font-size: 40px;
    color: white;
    top: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: top .4s;
}

.portfolio .container .card .box:hover::after {
    top: 38%;
}

.portfolio .container .card .box .down-list {
    background-color: var(--black-background);
    color: white;
    padding: 20px;
    margin-top: -4px;
    z-index: 3;
    position: relative;
}

.portfolio .container .card .box .down-list h3 {
    color: var(--yellow-background);
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 10px;
}

/* end portfolio */

/* start about */
.about {
    background-color: var(--black-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .container .heading-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
}

.about .container .heading-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
    color: white;
}

.about .container .heading-text h1+p {
    font-size: 22px;
    font-weight: 300;
    color: var(--yellow-background);
}

@media (max-width:767px) {
    .about .container .heading-text h1 {
        font-size: 36px;
        margin-bottom: 18px;
    }

    .about .container .heading-text h1+p {
        font-size: 18px;
    }
}

.about .container .cards .box {
    overflow: hidden;
}

.about .container .cards .box .down {
    padding: 10px;
}

.about .container .cards .box .down p {
    color: var(--yellow-background);
    font-size: 23px;
    padding-bottom: 14px;
    z-index: 400;
    transition: .3s color;
}

.about .container .cards .box .down .icons a {
    padding: 12px;
    font-size: 14px;
    width: 38px;
    border-radius: 50%;
    background-color: var(--yellow-background);
    z-index: 55;
    transition: 0.3s background-color;
}

.about .container .cards .box .down .icons i {
    color: black;
    transition: 0.3s color;
}

.about .container .cards .box .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(254, 206, 26, 85%);
    left: 0;
    top: 100%;
    transition: 0.3s top;
}

.about .container .cards .box .mask h1 {
    font-weight: normal;
    padding-bottom: 10px;
}

.about .container .cards .box .mask p {
    font-weight: 300;
    font-size: 17px;
}

.about .container .cards .box:hover .mask {
    top: 0;
}

.about .container .cards .box:hover .down p {
    color: black;
}

.about .container .cards .box:hover .down .icons a {
    background-color: white;
}

.about .container .cards .box:hover .down .icons a i {
    color: var(--yellow-background);
}

.about .container .cards .box .down .icons a:hover {
    background-color: var(--black-background);
}

.about .container .cards .box .down .icons a:hover i {
    color: var(--yellow-background);
}

.about .container .last .half-head {
    color: var(--yellow-background);
    font-weight: normal;
    font-size: 26px;
    padding-bottom: 20px;
}

.about .container .last .half-head+p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}

.about .container .foots .skills {
    flex: 1;
    width: 100%;
}

.about .container .before-last {
    color: var(--yellow-background);
    font-weight: normal;
    font-size: 26px;
    text-align: left;
}

.about .container .foots .skills .rate {
    background-color: white;
    width: 100%;
    height: 40px;
    flex: 1;
}

.about .container .foots .skills .rate:not(:last-child) {
    margin-bottom: 30px;
}

.about .container .foots .skills .rate span {
    height: 100%;
    background-color: var(--yellow-background);
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 12px;
    position: relative;

}

.about .container .foots .hire {
    background-color: white;
    flex: 1;
    padding: 20px 25px;
}

.about .container .foots .hire h1 {
    font-weight: normal;
    font-size: 40px;
    padding-bottom: 10px;
}

.about .container .foots .hire h1+p {
    line-height: 1.4;
    font-weight: 300;
    font-size: 17px;
}

.about .container .foots .hire .join {
    background-color: var(--yellow-background);
    color: black;
    padding: 12px 27px;
    width: fit-content;
    font-size: 18px;
    margin: 15px auto 0;
    cursor: pointer;
    position: relative;
    transition: 0.3s all;
}

.about .container .foots .hire .join:hover {
    background-color: var(--black-background);
    color: var(--yellow-background);
}

/* @media (max-width:991px) {
    .about .container .foots {
        flex-direction: column;
    }

} */
@media (max-width: 991px) {
    .about .container .foots {
        flex-direction: column;
        flex: 1;
    }
}

/* end about */

/* start purshase */
.purshase {
    background-color: var(--yellow-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.purshase .container p {
    font-weight: 300;
    font-size: 32px;
}

.purshase .container .paid {
    border: 1px solid black;
    padding: 17px 32px;
    margin: 0 auto;
    width: fit-content;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.purshase .container .paid:hover {
    background-color: var(--black-background);
    color: white;
}

/* end purshase */

/* start client */
.client {
    background-color: var(--black-background);
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 6px solid var(--yellow-background);
}

.client .container .heading-text::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
}

.client .container .heading-text h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
    color: white;
}

.client .container .heading-text h1+p {
    font-size: 22px;
    font-weight: 300;
    color: var(--yellow-background);
}

@media (max-width:767px) {
    .client .container .heading-text h1 {
        font-size: 36px;
        margin-bottom: 18px;
    }

    .client .container .heading-text h1+p {
        font-size: 18px;
    }
}

.client .container .card .box .txt {
    background-color: var(--yellow-background);
    padding: 13px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
}

.client .container .card .box .txt::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 12px;
    bottom: -30px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--yellow-background) transparent transparent transparent;
}

.client .container .card .box .last .pho {
    width: 50px;
}

.client .container .card .box .last .right {
    flex: 1;
    color: var(--yellow-background);
    text-align: left;
}

.client .container .card .box .last .right h4 {
    font-size: 18px;
    margin-bottom: 3px;
}

.client .container .quot {
    color: white;
    font-size: 24px;
    font-weight: 300;
    width: 800px;
    margin: 0 auto;
}

@media (max-width:991px) {
    .client .container .quot {
        width: 100%;
    }
}

/* end client */

/* start secondary client */
.second-client {
    background-image: url(../images/brand-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.second-client .container .head-title h2 {
    color: var(--yellow-background);
    font-weight: normal;
    font-size: 28px;
}

.second-client .container .head-title .icons i {
    color: var(--black-background);
    background-color: var(--yellow-background);
    font-size: 22px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.second-client .container .head-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
}

.second-client .container .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.second-client .container .box img {
    max-width: 100%;
    border: 1px solid white;
}

/* end secondary client */